{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="flex flex-col grow items-center justify-between md:p-10 bg-gray-100 gap-4  w-full">
        {#        <div class="flex flex-row flex-wrap bg-yellow-500 w-full h-fit border-2 border-gray-800 gap-2 ">#}
        <div class="flex flex-col w-full gap-4">
            <div class="w-full">
                {#                <form method="get" class="w-full ">#}
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" name="q" id="default-search"
                           class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Search Title, Author, Publisher..."/>
                    <button type="submit"
                            class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Search
                    </button>
                </div>
                {#                </form>#}
            </div>
            <div class="flex">
                <div class="w-[30%]">
                    Filter section
                </div>
                <div class="flex flex-col gap-4">
                    <div id="store-book-items"
                         class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full">
                        {% if paginated_books %}
                            {% include 'books/components/book_cards.html' with paginated_books=paginated_books %}
                        {% endif %}
                        {#                        {% if paginated_books %}#}
                        {#                            {% for book in paginated_books %}#}
                        {#                                {% include 'books/components/cards.html' with book=book %}#}
                        {#                            {% endfor %}#}
                        {#                        {% else %}#}
                        {#                            <p class="text-gray-600 p-5">No books available.</p>#}
                        {#                        {% endif %}#}
                    </div>

                    {% if paginated_books %}
                        {% include 'books/components/pagination_div.html' with paginated_books=paginated_books %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>


        const searchInput = document.getElementById('default-search')
        const storeContent = document.getElementById('store-book-items')
        const paginationContent = document.getElementById('store-paginationContent')

        let debounceTimer;

        searchInput.addEventListener('input', () => {
            clearTimeout(debounceTimer);

            debounceTimer = setTimeout(async () => {
                const query = searchInput.value;

                try {
                    const response = await axios.get("{% url 'book_store' %}", {
                        params: {q: query},
                        headers: {'X-Requested-With': 'XMLHttpRequest'}
                    });

                    {#storeContent.innerHTML = response.data;#}
                    storeContent.innerHTML = response.data.cards;
                    paginationContent.innerHTML = response.data.pagination;


                } catch (e) {
                    console.error('Search Error:', e);
                    alert(`⚠️ Something went wrong while fetching results. Please try again.`);

                }


            }, 500)


        });

        // 2 Card click navigation
        storeContent.addEventListener('click', (e) => {
            if (e.target.closest('.button_cart_add')) return // skip Add to Cart
            const card = e.target.closest('[data-href]')
            if (card) {
                const href = card.dataset.href
                if (href) window.location.href = href
            }
        })

        // Add to Cart listener
        storeContent.addEventListener('click', async (e) => {
            const button = e.target.closest('.button_cart_add');
            if (!button) return;
            e.stopPropagation(); // prevents card click
            e.preventDefault(); // prevents default anchor behavior
            {#console.log("buttonclicked");#}

            const bookUuid = button.dataset.bookUuid;


            try {
                const response = await axios.post(
                    "{% url 'add_to_cart' %}",
                    new URLSearchParams({book_uuid: bookUuid}),
                    {
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                );

                const data = response.data;

                if (data.success) {
                    if (data.created) {
                        button.textContent = "Added";
                        setTimeout(() => {
                            button.outerHTML = `<a href="{% url 'book_cart' %}"
                        class="bg-blue-700 text-white px-5 py-2.5 rounded-lg text-sm">
                        View Cart
                    </a>`;
                        }, 1500);
                    } else {
                        button.outerHTML = `<a href="{% url 'book_cart' %}"
                    class="bg-blue-700 text-white px-5 py-2.5 rounded-lg text-sm">
                    View Cart
                </a>`;
                    }

                    async function updateCartCount() {
                        try {
                            let response = await axios.get('/carts/count/');

                            {#console.log("response", response);#}
                            {#console.log("response", response.data);#}
                            {#console.log("response", response.data.count);#}

                            let data = await response.data.count;
                            const cartCount = document.querySelector("#cart-count");
                            if (cartCount) {

                                cartCount.innerHTML = data;
                            }

                        } catch (e) {
                            console.log(e);
                            alert(`Error occured`);
                        }
                    }

                    await updateCartCount();
                } else {
                    alert(data.message);
                }
            } catch (error) {
                console.error("Error adding to cart:", error);
                alert("Something went wrong. Please try again.");
            }
        });

    </script>
{% endblock %}