{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="flex flex-col grow items-center justify-between md:p-10 bg-gray-100 gap-4  w-full">
        {#        <div class="flex flex-row flex-wrap bg-yellow-500 w-full h-fit border-2 border-gray-800 gap-2 ">#}
        <div class="flex flex-col w-full gap-4 h-full">
            <div class="w-full">
                {#                <form method="get" class="w-full ">#}
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>

                    <input type="text" name="q" id="default-search"
                           class="block w-full p-4 ps-10 text-sm text-gray-900 border-0 shadow-lg outline-none focus:border-[0.5px]   rounded-lg bg-gray-50   "
                           placeholder="Search Title, Author, Publisher..."/>
                    <button type="submit"
                            class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Search
                    </button>
                </div>
                {#                </form>#}
            </div>
            <div class="flex grow ">
                <div class="w-[30%]">
                    {% include 'books/components/filter_card.html' with min_price_value=min_price_value max_price_value=max_price_value %}
                </div>
                <div class="flex flex-col  gap-4 w-full  ">
                    <div class="flex justify-between">
                        <h1 class="font-lexend text-3xl font-medium">
                            Store
                        </h1>
                        <form class="max-w-sm" method="get">
                            <select id="sortBy" name="sort" onchange="this.form.submit()"
                                    class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5">

                                <option value="price_asc" {% if request.GET.sort == "price_asc" %}selected{% endif %}>
                                    Price (Low → High)
                                </option>
                                <option value="price_desc" {% if request.GET.sort == "price_desc" %}selected{% endif %}>
                                    Price (High → Low)
                                </option>
                                <option value="quantity_desc"
                                        {% if request.GET.sort == "quantity_desc" %}selected{% endif %}>
                                    Stock (High → Low)
                                </option>
                                <option value="quantity_asc"
                                        {% if request.GET.sort == "quantity_asc" %}selected{% endif %}>
                                    Stock (Low → High)
                                </option>
                                <option value="created_desc"
                                        {% if request.GET.sort == "created_desc" %}selected{% endif %}>
                                    Created (Newest)
                                </option>
                                <option value="created_asc"
                                        {% if request.GET.sort == "created_asc" %}selected{% endif %}>
                                    Created (Oldest)
                                </option>
                            </select>
                        </form>
                    </div>
                    <div id="store-book-items"
                         class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4   min-h-[500px]">

                        {% if paginated_books %}
                            {% include 'books/components/book_cards.html' with paginated_books=paginated_books %}
                        {% else %}
                            No Books Available
                        {% endif %}

                    </div>

                    {% if paginated_books %}
                        {% include 'books/components/pagination_div.html' with paginated_books=paginated_books %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>


        const searchInput = document.getElementById('default-search')
        const storeContent = document.getElementById('store-book-items')
        const paginationContent = document.getElementById('store-paginationContent')

        let debounceTimer;

        searchInput.addEventListener('input', () => {
            clearTimeout(debounceTimer);

            debounceTimer = setTimeout(async () => {
                const query = searchInput.value;

                try {
                    const response = await axios.get("{% url 'book_store' %}", {
                        params: {q: query},
                        headers: {'X-Requested-With': 'XMLHttpRequest'}
                    });

                    {#storeContent.innerHTML = response.data;#}
                    storeContent.innerHTML = response.data.cards;
                    paginationContent.innerHTML = response.data.pagination;


                } catch (e) {
                    console.error('Search Error:', e);
                    alert(`⚠️ Something went wrong while fetching results. Please try again.`);

                }


            }, 500)


        });

        // 2 Card click navigation
        storeContent.addEventListener('click', (e) => {
            if (e.target.closest('.button_cart_add')) return // skip Add to Cart
            const card = e.target.closest('[data-href]')
            if (card) {
                const href = card.dataset.href
                if (href) window.location.href = href
            }
        })

        // Add to Cart listener
        storeContent.addEventListener('click', async (e) => {
            const button = e.target.closest('.button_cart_add');
            if (!button) return;
            e.stopPropagation(); // prevents card click
            e.preventDefault(); // prevents default anchor behavior
            {#console.log("buttonclicked");#}

            const bookUuid = button.dataset.bookUuid;


            try {
                const response = await axios.post(
                    "{% url 'add_to_cart' %}",
                    new URLSearchParams({book_uuid: bookUuid}),
                    {
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                );

                const data = response.data;

                if (data.success) {
                    if (data.created) {
                        button.textContent = "Added";
                        setTimeout(() => {
                            button.outerHTML = `<a href="{% url 'book_cart' %}"
                        class="bg-blue-700 text-white px-5 py-2.5 rounded-lg text-sm">
                        View Cart
                    </a>`;
                        }, 1500);
                    } else {
                        button.outerHTML = `<a href="{% url 'book_cart' %}"
                    class="bg-blue-700 text-white px-5 py-2.5 rounded-lg text-sm">
                    View Cart
                </a>`;
                    }

                    async function updateCartCount() {
                        try {
                            let response = await axios.get('/carts/count/');

                            {#console.log("response", response);#}
                            {#console.log("response", response.data);#}
                            {#console.log("response", response.data.count);#}

                            let data = await response.data.count;
                            const cartCount = document.querySelector("#cart-count");
                            if (cartCount) {

                                cartCount.innerHTML = data;
                            }

                        } catch (e) {
                            console.log(e);
                            alert(`Error occured`);
                        }
                    }

                    await updateCartCount();
                } else {
                    alert(data.message);
                }
            } catch (error) {
                console.error("Error adding to cart:", error);
                alert("Something went wrong. Please try again.");
            }
        });


        document.addEventListener('DOMContentLoaded', () => {
            let min_range_price = document.getElementById('min_range_price');
            let max_range_price = document.getElementById('max_range_price');

            let range_input = document.querySelectorAll('.range_input input');
            let bar = document.querySelector('.bar');
            const gap_number = 500;

            function updateBar() {
                let min_val = parseInt(range_input[0].value);
                let max_val = parseInt(range_input[1].value);

                // Ensure gap
                if (max_val - min_val < gap_number) {
                    if (event.target.classList.contains('min_range')) {
                        range_input[0].value = max_val - gap_number;
                        min_val = max_val - gap_number;
                    } else {
                        range_input[1].value = min_val + gap_number;
                        max_val = min_val + gap_number;
                    }
                }

                // Update displayed prices
                min_range_price.innerText = min_val;
                max_range_price.innerText = max_val;

                // Update red bar
                const leftPercent = (min_val / range_input[0].max) * 100;
                const rightPercent = (max_val / range_input[1].max) * 100;

                //styling
                bar.style.left = leftPercent + '%';   //where the red bar should start.
                bar.style.width = (rightPercent - leftPercent) + '%';   //the distance between min and max (so only the middle lights up red).
            }

            range_input.forEach(input => input.addEventListener('input', updateBar));

            // Initialize
            updateBar();
        });

        const filter_price_button = document.getElementById('filter_price_button');
        filter_price_button.addEventListener('click', async () => {
            const minVal = document.querySelector(".min_range").value;
            const maxVal = document.querySelector(".max_range").value;
            try {
                const response = await axios.get("{% url 'book_store' %}", {
                    params: {
                        min_price: minVal,
                        max_price: maxVal,
                    },
                    headers: {"X-Requested-With": "XMLHttpRequest"}
                })

                // Update DOM with returned data

                storeContent.innerHTML = response.data.cards;
                paginationContent.innerHTML = response.data.pagination;
            } catch (error) {
                console.error("Error fetching filtered books:", error);
            }
        })

    </script>
{% endblock %}