.progress_bar {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    position: relative;
    background-color: gray;
}

.bar {
    /*width: 100%;*/
    /*left: 18%;*/
    /*right: 19%;*/
    height: 100%;
    background-color: red;
    position: absolute;
    border-radius: 20px;

}


.range_input {
    width: 100%;
    /*height: auto;*/
    position: relative;
}

.range_input input {
    width: 100%;
    height: 2px;
    position: absolute;
    top: -18px;
    appearance: none;
    /*background-color: red;*/
    background-color: transparent;
    pointer-events: none;
}

.range_input input::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background-color: red;
    pointer-events: auto;
    cursor: ew-resize;
}

/*.range_input input::-moz-range-thumb {*/
/*    width: 10px;*/
/*    height: 20px;*/
/*    background: red;*/
/*    cursor: ew-resize; */
/*    border-radius: 3px;*/
/*}*/