{% extends 'books/admin/admin_base_copy.html' %}
{% load permissions %}

{% block list_title %}Stock List{% endblock %}
{% block list_heading %}Stocks{% endblock %}

{% block list_description %}
    This section provides a detailed overview of all available books in stock, including key information
    such as the title, authors, number of pages, language, and current availability. It helps you
    quickly assess which books are ready for purchase or restocking.
{% endblock %}

{% block search_placeholder %}Search Titles, Publisher{% endblock %}

{% block sort_options %}
    <option value="price_asc" {% if request.GET.sort == "price_asc" %}selected{% endif %}>
        Price (Low → High)
    </option>
    <option value="price_desc" {% if request.GET.sort == "price_desc" %}selected{% endif %}>
        Price (High → Low)
    </option>
    <option value="quantity_desc" {% if request.GET.sort == "quantity_desc" %}selected{% endif %}>
        Stock (High → Low)
    </option>
    <option value="quantity_asc" {% if request.GET.sort == "quantity_asc" %}selected{% endif %}>
        Stock (Low → High)
    </option>
    <option value="available_first" {% if request.GET.sort == "available_first" %}selected{% endif %}>
        Available First
    </option>
    <option value="unavailable_first" {% if request.GET.sort == "unavailable_first" %}selected{% endif %}>
        Unavailable First
    </option>
    <option value="restock_desc" {% if request.GET.sort == "restock_desc" %}selected{% endif %}>
        Recently Restocked
    </option>
    <option value="restock_asc" {% if request.GET.sort == "restock_asc" %}selected{% endif %}>
        Oldest Restock
    </option>
    <option value="created_desc" {% if request.GET.sort == "created_desc" %}selected{% endif %}>
        Created (Newest)
    </option>
    <option value="created_asc" {% if request.GET.sort == "created_asc" %}selected{% endif %}>
        Created (Oldest)
    </option>
{% endblock %}

{% block date_filter %}
    <form id="stock-datefilter-form" class="flex h-fit gap-4 flex-wrap items-center">
        <div class="flex items-center gap-4">
            {% include 'components/date_filter.html' %}
            <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded">
                Filter
            </button>
        </div>
    </form>
{% endblock %}


{% block  export_cv %}
    <form id="stock-exportExcel-form" class="flex h-fit gap-4 flex-wrap items-center">
        <button
                {#            onclick="window.location.href='?export=excel'"#}
                type="submit"
                class="bg-green-600 absolute right-0 hover:bg-green-700 text-white px-3 py-2 rounded"
        >
            Export Excel
        </button>
    </form>
{% endblock %}

{% block add_perm %}stocks.add_stock{% endblock %}
{% block sort_title_asc %}Titles{% endblock %}
{% block sort_title_desc %}Titles{% endblock %}
{% block add_button %}{% endblock %}

{% block table_headers %}
    <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Cover</th>
    <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-left">Title</th>
    <th class="min-w-48 p-3 text-sm font-semibold tracking-wide text-center">Sell Price (per pc)</th>
    <th class="py-3 px-5 text-sm font-semibold tracking-wide text-center">Quantity</th>
    <th class="min-w-48 py-3 px-5 text-sm font-semibold tracking-wide text-center">Cost of Goods</th>
{% endblock %}

{% block columns_count %}7{% endblock %}

{% block table_body %}
    <div id="stock_list_partial_div">
        {% include 'books/admin/table/admin_stock_list_partials.html' %}
    </div>
{% endblock %}

{% block pagination %}
    {% with paginated_stocks as paginated_items %}
        {{ block.super }}
    {% endwith %}
{% endblock %}



{% block search_url %}/admin-panel/books/search/{% endblock %}
{% block response_data_key %}books{% endblock %}
{% block modal_form_action %}/admin-panel/stock/reset/{% endblock %}

{% block base_script %}
    {{ block.super }}

{% endblock %}

