{% load static %}
<div class="relative
{# max-w-sm #}
 min-h-[400px] sm:min-h-[400px] md:min-h-[300px] lg:min-h-[400px]">
    <div class="relative group">
        <!-- Your original card becomes the inner element -->
        <div
                class="group relative flex  flex-col h-fit hover:justify-between relative gap-2 w-full max-w-sm
        bg-white

        border border-gray-200 rounded-lg hover:shadow-lg

{#         hover:scale-105  hover:z-10#}
         group-hover:absolute group-hover:top-0 group-hover:left-0 group-hover:right-0
           group-hover:min-h-fit group-hover:z-50

"

                {#     onclick="window.location='{% url 'book_detail_store' book.uuid %}'#}
                data-href="{% url 'book_detail_store' book.uuid %}"
        >
            {% if book.stock.discount_percentage > 0 %}
                <div class="flex absolute bg-red-700 px-2 py-[2px] rounded-br-md">

                    <span class="font-lexend text-md font-light text-white "> - {{ book.stock.discount_percentage }}%</span>
                </div>
            {% endif %}
            {#    <a href="#">#}
            {#        <img class="p-8 rounded-t-lg" src="{{ book.cover.url }}" alt="{{ book.title }}"/>#}
            {#    </a>#}
            <div class="w-full h-60  rounded-t-lg  overflow-hidden bg-gray-200 flex items-center justify-center">
                {% if book.cover_image %}
                    <img class="max-h-full max-w-full object-contain"
                         src="{{ book.cover_image.url }}"
                         alt="{{ book.title }}"
                    />
                {% else %}
                    <!-- Optional placeholder image -->
                    <img class="max-h-full max-w-full object-contain"
                         src="{% static 'images/no_book_cover.png' %}"
                         alt="No cover available"
                    />
                {% endif %}
            </div>
            <div class="flex flex-col grow gap-2 px-5 pb-5">
                <a href="#">
                    <h5 class="font-lexend text-md font-semibold line-clamp-1 group-hover:line-clamp-2 transition-all duration-300 tracking-tight text-gray-900 ">{{ book.title }}</h5>
                </a>
                <span class="font-lexend text-md font-medium {% if book.stock.is_available %}text-gray-700{% else %}text-red-700{% endif %} ">{% if book.stock.is_available %}
                    <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor" class="size-4 text-sky-800 ">
  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
</svg>

            In stock
            </div>
                {% else %}Out of Stock{% endif %} </span>
                {#        <div class="flex items-center mt-2.5 mb-5">#}
                {#            <div class="flex items-center space-x-1 rtl:space-x-reverse">#}
                {#                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"#}
                {#                     fill="currentColor" viewBox="0 0 22 20">#}
                {#                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>#}
                {#                </svg>#}
                {#                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"#}
                {#                     fill="currentColor" viewBox="0 0 22 20">#}
                {#                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>#}
                {#                </svg>#}
                {#                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"#}
                {#                     fill="currentColor" viewBox="0 0 22 20">#}
                {#                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>#}
                {#                </svg>#}
                {#                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"#}
                {#                     fill="currentColor" viewBox="0 0 22 20">#}
                {#                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>#}
                {#                </svg>#}
                {#                <svg class="w-4 h-4 text-gray-200 " aria-hidden="true"#}
                {#                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">#}
                {#                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>#}
                {#                </svg>#}
                {#            </div>#}
                {#            <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded-sm  ">5.0</span>#}
                {#        </div>#}
                <div class="flex gap-2 items-center ">
                    {% if book.stock.discount_percentage > 0 %}
                        <span class="font-lexend text-md font-light text-gray-400 line-through decoration-red-800">Rs {{ book.stock.price|floatformat:"-2" }}</span>
                        <span class="font-lexend text-md font-light text-red-800 ">Rs {{ book.stock.price_after_discount_one_item|floatformat:"-2" }}</span>
                    {% else %}
                        <span class="font-lexend text-md font-light text-gray-400">Rs {{ book.stock.price|floatformat:"-2" }}</span>

                    {% endif %}


                </div>
                <button
                        type="button"
                        class="button_cart_add text-white
                   {% if book.stock.stock_quantity > 0 %}
                       bg-blue-700 hover:bg-blue-800 focus:ring-blue-300
                   {% else %}
                       bg-red-700 hover:bg-red-800 focus:ring-red-300 cursor-not-allowed
                   {% endif %}
                   focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        data-book-uuid="{{ book.uuid }}"
                        {% if book.stock.stock_quantity <= 0 %}disabled aria-disabled="true"{% endif %}
                >
                    {% if book.stock.stock_quantity > 0 %}Add to cart{% else %}Sold Out{% endif %}
                </button>
                <div class="group-hover:block hidden flex gap-2 items-center ">
                    {% if book.publisher %}
                        <span class="font-lexend text-md font-bold text-gray-800">Publisher: <span
                                class="font-lexend text-md font-light text-gray-400">{{ book.publisher }}</span></span>

                    {% endif %}


                </div>

            </div>
        </div>
    </div>
</div>
