<div class="flex max-h-[300px] pb-2 box-border gap-2 border-b-2 border-gray-900">
    <div class="flex  w-[150px] border-2  border-gray-900">
        <img class="p-8 rounded-t-lg"
             src="{{ book.cover.url }}" alt="hello"
        />
    </div>
    <div class="flex flex-col justify-between grow gap-2">
        <div class="flex justify-between ">
            <div class="flex  max-w-[290px]">
                <p class="line-clamp-3">
                    Nulla dolor velit adipisicing duis excepteur esse in duis nostrud occaecat
                    mollit
                    incididunt deserunt sunt. Ut ut
                    sunt laborum ex occaecat Nulla dolor velit adipisicing duis excepteur esse in
                    duis
                    nostrud occaecat mollit
                    incididunt deserunt sunt. Ut ut
                    sunt laborum ex occaecat
                </p>
            </div>
            <p>Rs 300</p>
        </div>
        <div class="flex justify-between">
            <form class="max-w-xs ">
                <label for="quantity-input"
                       class="block mb-2 text-sm font-medium text-gray-900 ">Choose
                    quantity:</label>
                <div class="relative flex items-center max-w-[8rem]">
                    <button type="button" id="decrement-button"
                            data-input-counter-decrement="quantity-input"
                            class="bg-gray-100  hover:bg-gray-200 border border-gray-700 rounded-s-lg p-3 h-11 focus:ring-gray-100  focus:ring-2 focus:outline-none">
                        <svg class="w-3 h-3 text-gray-900 " aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                            <path stroke="currentColor" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                        </svg>
                    </button>
                    <input type="text" id="quantity-input" data-input-counter
                           data-input-counter-min="1" data-input-counter-max="50"
                           aria-describedby="helper-text-explanation"
                           class="bg-gray-50 border-y border-gray-900 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5"
                           placeholder="999" value="1" required/>
                    <button type="button" id="increment-button"
                            data-input-counter-increment="quantity-input"
                            class="bg-gray-100  hover:bg-gray-200 border border-gray-700 rounded-e-lg p-3 h-11 focus:ring-gray-100  focus:ring-2 focus:outline-none">
                        <svg class="w-3 h-3 text-gray-900 " aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                    </button>
                </div>
                <p id="helper-text-explanation"
                   class="mt-2 text-sm text-gray-500 dark:text-gray-400">Please select a 5 digit
                    number from 0 to 9.</p>
            </form>
            <div class="flex items-center">
                <button
                        type="button"
                        class="border border-gray-500 hover:border-red-500 text-gray-500 hover:bg-red-500 hover:text-white focus:bg-red-500 focus:text-white font-bold py-2 px-4 rounded transition-colors duration-200"
                >
                    Remove
                </button>

            </div>
        </div>
    </div>
</div>