<div id="store-paginationContent" class="w-full flex flex-wrap flex-column justify-between items-center ">

    Page {{ paginated_books.number }} of {{ paginated_books.paginator.num_pages }}

    <div class="flex flex-column flex-wrap gap-4 md:gap-20">
        <div class="flex flex-row  items-center gap-2 w-fit">
            <p>Show: </p>
            <form class="max-w-sm mx-auto" method="get">
                {# Keep all other query params except 'limit' #}
                {% for key, value in request.GET.items %}
                    {% if key != 'limit' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
                {% if is_ajax_page %}

                    <select id="rowsPerPage_ajax" name="limit"
                            class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5">
                        <option value="12" {% if limit == 12 %}selected{% endif %}>12</option>
                        <option value="24" {% if limit == 24 %}selected{% endif %}>24</option>
                    </select>
                {% else %}

                    <select id="rowsPerPage" name="limit" onchange="this.form.submit()"
                            class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5">
                        <option value="12" {% if limit == 12 %}selected{% endif %}>12</option>
                        <option value="24" {% if limit == 24 %}selected{% endif %}>24</option>
                    </select>
                {% endif %}
            </form>
        </div>
        <div class="flex flex-column">
            {# First Page#}
            <div class="flex p-1 border border-gray-300 items-center">
                {% if paginated_books.has_previous %}
                    {#                    <a href="?page=1&limit={{ limit }}">#}
                    {% if query_string %}

                        <a href="?page=1&{{ query_string }}">
                    {% else %}

                        <a href="?page=1&limit={{ limit }}">
                    {% endif %}
                {% else %}
                    <a class="pointer-event-none text-gray-300">
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"/>
                </svg>
                </a>
            </div>
            {#Previous Page#}
            <div class="flex p-1 border border-gray-300 items-center">
                {% if paginated_books.has_previous %}
                    {#                    <a href="?page={{ paginated_books.previous_page_number }}&limit={{ limit }}">#}
                    {% if query_string %}

                        <a href="?page={{ paginated_books.previous_page_number }}&{{ query_string }}">
                    {% else %}

                        <a href="?page={{ paginated_books.previous_page_number }}&limit={{ limit }}">
                    {% endif %}
                {% else %}
                    <a class="pointer-event-none text-gray-300">
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 19.5 8.25 12l7.5-7.5"/>
                </svg>
                </a>

            </div>

            <div class="flex py-1 px-3 border border-gray-300 items-center">
                {{ paginated_books.number }}
            </div>

            {#Next Page#}
            <div class="flex p-1  border border-gray-300 items-center">
                {% if paginated_books.has_next %}
                    {% if query_string %}

                        <a href="?page={{ paginated_books.next_page_number }}&{{ query_string }}">
                    {% else %}

                        <a href="?page={{ paginated_books.next_page_number }}&limit={{ limit }}">
                    {% endif %}

                    {#                    <a href="?page={{ paginated_books.next_page_number }}&limit={{ limit }}">#}
                {% else %}
                    <a class="pointer-event-none text-gray-300">
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
                </svg>
                </a>
            </div>

            {#Last Page#}
            <div class="flex p-1  border border-gray-300 items-center">
                {% if paginated_books.has_next %}
                    {#                    <a href="?page={{ paginated_books.paginator.num_pages }}&limit={{ limit }}">#}
                    {% if query_string %}

                        <a href="?page={{ paginated_books.paginator.num_pages }}&{{ query_string }}">
                    {% else %}

                        <a href="?page={{ paginated_books.paginator.num_pages }}&limit={{ limit }}">

                    {% endif %}
                {% else %}
                    <a class="pointer-event-none text-gray-300">
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"/>
                </svg>
                </a>
            </div>
        </div>
    </div>
</div>