<div class="flex items-center gap-4" id="datefilter_outer_div">
    <div class="flex flex-col ">
        <div class="flex items-center gap-2">
            <label for="datefilter" class="text-sm font-medium text-gray-600">Date:</label>
            <input
                    type="date"
                    name="datefilter"
                    id="datefilter"
                    value="{{ filtered_date }}"
                    min="{{ min_date|default:'' }}"
                    max="{{ max_date|default:'' }}"
                    class="filter-input border border-gray-300 bg-white rounded px-2 py-1"
                    data-filter="{{ prefix }}"

            >
        </div>

        <span id="datefilter_error" class="text-red-500 text-sm mt-1">
        {% if errors and errors.from %}
            {{ errors.from.0 }}
        {% endif %}
    </span>
    </div>

</div>
