<div id="formPopupModal"
     class="fixed inset-0 z-60 hidden backdrop-blur-sm bg-black/50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full sm:w-[60%] md:[50%] max-h-[90vh] overflow-y-auto">
        <div class="flex justify-center gap-4">
            <div id="form-Container-popup" class="flex flex-col w-full">
                {#                form to be injected#}
            </div>
            {#            <button type="button" onclick="closeLogoutModal()" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">#}
            {#                Cancel#}
            {#            </button>#}
            {#            <button type="button" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">#}
            {#                Submit#}
            {#            </button>#}
        </div>
    </div>
</div>