{% extends 'books/admin/admin_base_list.html' %}
{% block content %}
    <div class="bg-white rounded-lg shadow p-6">
        <a href="{% url 'stock_detail' book.uuid %}"
           class="inline-flex items-center justify-center p-2 hover:bg-gray-200 rounded"
           aria-label="Back to stock list">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
            </svg>
        </a>
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold text-gray-800">{{ title }}</h2>
        </div>

        <div class="overflow-x-auto">
            <table class="min-w-full border border-gray-200 rounded-lg overflow-hidden">
                <thead class="bg-gray-100 text-gray-700 text-sm">
                <tr>
                    {% for header in headers %}
                        <th class="px-4 py-3 text-left">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="text-gray-600">
                {% block table_rows %}
                {% endblock %}
                </tbody>
            </table>
        </div>

        {% block pagination %}
            {% if paginated_items %}
                <div class="w-full flex flex-wrap flex-column justify-between items-center">
                    Page {{ paginated_items.number }} of {{ paginated_items.paginator.num_pages }}

                    <div class="flex flex-column flex-wrap gap-4 md:gap-20">
                        <div class="flex flex-row items-center gap-2 w-fit">
                            <p>Show: </p>
                            <form class="max-w-sm mx-auto" method="get">
                                <select id="rowsPerPage" name="limit" onchange="this.form.submit()"
                                        class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5">
                                    <option value="10" {% if limit == 10 %}selected{% endif %}>10</option>
                                    <option value="20" {% if limit == 20 %}selected{% endif %}>20</option>
                                    <option value="30" {% if limit == 30 %}selected{% endif %}>30</option>
                                    <option value="40" {% if limit == 40 %}selected{% endif %}>40</option>
                                    <option value="50" {% if limit == 50 %}selected{% endif %}>50</option>
                                </select>
                            </form>
                        </div>
                        <div class="flex flex-column">
                            <!-- First Page -->
                            <div class="flex p-1 border border-gray-300 items-center">
                                {% if paginated_items.has_previous %}
                                    <a href="?page=1&limit={{ limit }}">
                                {% else %}
                                    <a class="pointer-event-none text-gray-300">
                                {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"/>
                                </svg>
                                </a>
                            </div>

                            <!-- Previous Page -->
                            <div class="flex p-1 border border-gray-300 items-center">
                                {% if paginated_items.has_previous %}
                                    <a href="?page={{ paginated_items.previous_page_number }}&limit={{ limit }}">
                                {% else %}
                                    <a class="pointer-event-none text-gray-300">
                                {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15.75 19.5 8.25 12l7.5-7.5"/>
                                </svg>
                                </a>
                            </div>

                            <div class="flex py-1 px-3 border border-gray-300 items-center">
                                {{ paginated_items.number }}
                            </div>

                            <!-- Next Page -->
                            <div class="flex p-1 border border-gray-300 items-center">
                                {% if paginated_items.has_next %}
                                    <a href="?page={{ paginated_items.next_page_number }}&limit={{ limit }}">
                                {% else %}
                                    <a class="pointer-event-none text-gray-300">
                                {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
                                </svg>
                                </a>
                            </div>

                            <!-- Last Page -->
                            <div class="flex p-1 border border-gray-300 items-center">
                                {% if paginated_items.has_next %}
                                    <a href="?page={{ paginated_items.paginator.num_pages }}&limit={{ limit }}">
                                {% else %}
                                    <a class="pointer-event-none text-gray-300">
                                {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"/>
                                </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}
