{% extends 'books/admin/admin_base_list.html' %}
{% load stock_form_tags %}
{% block content %}
    <div class="w-[80%] mx-auto">

        <h2 class="mb-5 text-2xl font-extrabold leading-none tracking-tight text-gray-500 md:text-4xl ">
            Restock {{ book.title }}</h2>
        <form method="post">
            {% csrf_token %}
            {#        {{ form.as_p }}#}
            {% for field in form %}
                {% include "components/Form_for_loop.html" with field=field %}
            {% endfor %}
            <button type="submit"
                    class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow hover:bg-blue-700 transition">
                Restock
            </button>
        </form>
    </div>
{% endblock %}