{% extends 'books/admin/admin_base_list.html' %}

{% block content %}
    <div class="bg-white rounded-lg shadow p-6">
        <a href="{% url 'stock_detail' book.uuid %}"
           class="inline-flex items-center justify-center p-2 hover:bg-gray-200 rounded"
           aria-label="Back to stock list">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
            </svg>
        </a>
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-3xl font-bold text-gray-800 w-[80%]">{% block heading_title_stock %} {% endblock %} for
                <span
                        class="text-blue-600 ">{{ book.title }}</span></h2>
        </div>

        <div class="searchable_stock mb-10">
            {% block search_and_filters_stock %}

            {% endblock %}

        </div>

        <div class="overflow-x-auto">
            <table class="min-w-full border border-gray-200 rounded-lg overflow-hidden">
                <thead class="bg-gray-100 text-gray-700 text-sm">
                <tr>
                    {% for header in headers %}
                        <th class="px-4 py-3 text-left">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody id="table-container" class="text-gray-600">
                {% block table_rows %}
                {% endblock %}
                </tbody>

            </table>
        </div>

        {% block pagination %}
        {% endblock %}


    </div>

{% endblock %}
