{% extends 'books/admin/Stock/admin_reusable_stock.html' %}
{% block title %}Price History{% endblock %}
{% block heading_title_stock %}Price History{% endblock %}
{% block table_rows %}
    {% for price in paginated_price_history %}
        <tr class="border-t hover:bg-gray-50">
            <td class="px-4 py-2">{{ price.old_price }}</td>
            <td class="px-4 py-2">{{ price.new_price }}</td>
            <td class="px-4 py-2">{{ price.old_discount_percentage }}</td>
            <td class="px-4 py-2"> {{ price.new_discount_percentage }}</td>
            <td class="px-4 py-2">{{ price.changed_by }}</td>
            <td class="px-4 py-2">{{ price.reason }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6" class="text-center p-4 text-gray-500">No Price History found</td>
        </tr>
    {% endfor %}
{% endblock %}



{% block pagination %}
    {% with paginated_price_history as paginated_items %}
        {% include "books/admin/Stock/pagination/stock_pagination.html" with paginated_items=paginated_items limit=limit %}
    {% endwith %}
{% endblock %}