{% extends 'books/admin/Stock/admin_reusable_stock.html' %}
{% block title %}Batches{% endblock %}
{% block table_rows %}
    {% for batch in paginated_batches %}
        <tr class="border-t hover:bg-gray-50">
            <td class="px-4 py-2">{{ batch.received_date }}</td>
            <td class="px-4 py-2">{{ batch.initial_quantity }}</td>
            <td class="px-4 py-2">{{ batch.remaining_quantity }}</td>
            <td class="px-4 py-2">Rs {{ batch.unit_cost|floatformat:"-2" }}</td>
            <td class="px-4 py-2">{{ batch.supplier.name|default:"None" }}</td>
            <td class="px-4 py-2">{{ batch.notes|default:"-" }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6" class="text-center p-4 text-gray-500">No batches found</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% with paginated_batches as paginated_items %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
