{#{% extends 'base/base.html' %}#}
{##}
{##}
{#{% block title %}Enter new password{% endblock %}#}
{##}
{#{% block content %}#}


{##}
{#    <div class="flex w-full h-screen min-h-[650px]   justify-center items-center">#}
{#        <div class="flex flex-col rounded-md shadow-md border-[0.5px] border-gray-300 h-fit w-[400px] items-center gap-[1.5rem] px-2 py-6">#}
{##}
{#            <div class="w-15 h-15 rounded-full {% if validlink %}bg-violet-200{% else %}bg-red-100{% endif %} flex items-center justify-center">#}
{##}
{#                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"#}
{#                     stroke="currentColor"#}
{#                     class="{% if validlink %}w-6 h-6 text-violet-900{% else %}w-6 h-6 text-red-800{% endif %}"#}
{##}
{#                >#}
{##}
{#                    <path stroke-linecap="round" stroke-linejoin="round"#}
{#                          d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"/>#}
{#                </svg>#}
{##}
{#            </div>#}
{#            {% if validlink %}#}
{#                <h1 class="mb-4 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl">#}
{#                    Set a new password!</h1>#}
{#                <p class="text-center">Your new password must be different to previously used passwords.</p>#}
{#                <div class="flex flex-col items-center p-5 w-full gap-4  overflow-auto">#}
{#                    <form method="post" class="w-[90%] ">#}
{#                        {% csrf_token %}#}
{#                        {% include "components/form_input.html" with field=form.new_password1 %}#}
{#                        {% include "components/form_input.html" with field=form.new_password2 %}#}
{#                        {% include 'components/button.html' with button_text="Reset Password" bg_color="bg-violet-600 hover:bg-violet-700" width_be="w-full" %}#}
{#                    </form>#}
{#                </div>#}
{#            {% else %}#}
{#                <p class="text-center">The password reset link was invalid, possibly because it has already been used.#}
{#                    <br>Please request a new#}
{#                    password#}
{#                    reset.</p>#}
{#            {% endif %}#}
{#            <a href="{% url 'login_view' %}" class="flex gap-2 items-center hover:text-blue-700">#}
{#                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"#}
{#                     stroke="currentColor" class="size-4">#}
{#                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>#}
{#                </svg>#}
{##}
{#                Back to Login</a>#}
{##}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}


{% extends 'users/password_reset_base.html' %}


{% block icon_bg %}{% if validlink %}bg-violet-200{% else %}bg-red-100{% endif %}{% endblock %}

{% block icon %}

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor"
         class="{% if validlink %}w-6 h-6 text-violet-900{% else %}w-6 h-6 text-red-800{% endif %}"

    >
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"/>
    </svg>
{% endblock %}


{% block extra_content %}
    {% if validlink %}
        <form method="post" class="w-[90%] ">
            {% csrf_token %}
            {% include "components/form_input.html" with field=form.new_password1 %}
            {% include "components/form_input.html" with field=form.new_password2 %}
            {% include 'components/button.html' with button_text="Reset Password" bg_color="bg-violet-600 hover:bg-violet-700" width_be="w-full" %}
        </form>
    {% endif %}
{% endblock %}



{% block title %}{% if validlink %}Set a new password!{% else %}Error{% endif %}{% endblock %}
{% block description %}The password reset link was invalid, possibly because it has already been used.
    <br>Please request a new password reset.
{% endblock %}



