{% extends 'base/base.html' %}
{% block content %}
    <div class="flex w-full h-screen min-h-[650px] justify-center items-center">
        <div class="flex flex-col rounded-md shadow-md border-[0.5px] border-gray-300 h-fit w-[400px] items-center gap-[1rem] px-2 py-6">
            <div class="w-15 h-15 rounded-full {% block icon_bg %}{% endblock %} flex items-center justify-center">
                {% block icon %}{% endblock %}
            </div>
            <h1 class="mb-4 text-3xl font-bold text-gray-900">
                {% block title %}{% endblock %}
            </h1>
            <p class="text-center">{% block description %}{% endblock %}</p>
            {% block extra_content %}{% endblock %}
            {% block show_back_link %}
                <a href="{% url 'login_view' %}" class="flex gap-2 items-center hover:text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
                    </svg>
                    Back to Login
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}
