{% extends "users/password_reset_base.html" %}

{% block extra_content %}
    <form method="post" class="w-[90%]">
        {% csrf_token %}
        {% include "components/form_input.html" with field=form.new_password1 %}
        {% include "components/form_input.html" with field=form.new_password2 %}
        {% include 'components/button.html' with button_text="Set Password" bg_color="bg-violet-600 hover:bg-violet-700" width_be="w-full" %}

        {#        {{ form.as_p }}#}
        {#        <button type="submit">Set Password</button>#}
    </form>
{% endblock %}

{% block icon %}
    {% include "components/icons/mail_icon.html" %}
{% endblock %}

{% block icon_bg %}bg-violet-200{% endblock %}
{% block title %}Set Password{% endblock %}
{% block description %}Enter password to start logging in to your Email.{% endblock %}

