


{% extends "users/password_reset_base.html" %}

{% block extra_content %}
    <form method="post" class="w-[90%]">
        {% csrf_token %}
        {% include "components/form_input.html" with field=form.email %}
        {% include 'components/button.html' with button_text="Reset Password" bg_color="bg-violet-600 hover:bg-violet-700" width_be="w-full" %}
    </form>
{% endblock %}

{% block icon %}
    {% include "components/icons/mail_icon.html" %}
{% endblock %}

{% block icon_bg %}bg-violet-200{% endblock %}
{% block title %}Forgot your password?{% endblock %}
{% block description %}Enter your email address below, and we'll email instructions for setting a new one.{% endblock %}

